html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  color: #2F281E;
}

h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #2F281E;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: #2F281E;
}

h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #2F281E;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #2F281E;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  /*background-color: rgba(152, 148, 148, 0.123);*/
  box-shadow: rgba(0, 0, 0, 0.119) 0px 4px 20px;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 303px;
}

.menu__item {
  display: block;
  width: 105px;
}

.menu__item + .menu__item {
  margin-right: 14px;
  padding: 11px auto;
}

.signin__box {
  display: flex;
  justify-content: space-between;
}

.contacts {
  background-color: #FFEEE1;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 62px 0 82px;
}

.contacts__info {
  width: 50%;
}

.contacts__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  color: #2F281E;
}

.contacts__text {
  margin: 14px 0 33px;
  max-width: 528px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #544837;
}

.promo {
  background-color: rgba(152, 148, 148, 0.123);
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 495px;
  position: relative;
}

.promo__text-content {
  margin-top: 113px;
  width: 486px;
}

.promo__title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 44px;
  line-height: 1.23;
  color: #2F281E;
}

.promo__text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  margin-top: 30px;
  color: #544837;
}

.promo__btn-box {
  margin-top: 45px;
}

.promo__img {
  width: 50%;
}

.strategies__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  color: #2F281E;
}

.strategies__description {
  margin-top: 14px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #544837;
}

.strategies__tag-box {
  display: flex;
  justify-content: start;
  margin-top: 29px;
}

.strategies__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.strategies__cards-item {
  flex-direction: column;
  width: 377px;
}

.strategies__cards-img {
  height: 200px;
  width: 377px;
}

.strategies__cards-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: #2F281E;
}

.strategies__cards__tag-box {
  margin-top: 29px;
}

.tools {
  box-shadow: rgba(0, 0, 0, 0.119) 0px 4px 20px;
}

.tools__wrapper {
  padding: 110px 0 90px;
}

.tools__title {
  max-width: 462px;
  margin: 0 auto;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #2F281E;
}

.tools__cards-box {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.tools__cards-item {
  width: 262px;
}

.cards__icon {
  width: 50px;
  height: 50px;
}

.cards__title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin: 16px 0 30px;
  color: #2F281E;
}

.cards__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #544837;
}

.tools__btn {
  margin-top: 34px;
}

.about-us__wrapper {
  padding: 96px 0px;
}

.about-us__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  color: #2F281E;
}

.about-us__text {
  margin-top: 14px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #544837;
}

.about-us__card-box {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.card-shadowed {
  display: flex;
  justify-content: space-between;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer__menu {
  display: flex;
  justify-content: start;
  gap: 140px;
  width: 70%;
}

.footer__menu-item {
  width: max-content;
}

.menu__item-title {
  margin-bottom: 15px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #2F281E;
}

.footer__menu-link {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 2.2px;
  color: #544837;
}

/*# sourceMappingURL=style.css.map */
