.header {
    background-color: $color-light;
    @extend %box-shadow;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}
.header__menu-list {
    display: flex;
    justify-content: space-between;
    width: 303px;
}
.header__menu-item {
    display: block;
    width: 105px;
}
.header__menu-item + .header__menu-item {
    margin-right: 14px;
    padding: 11px auto;
}
.signin__box {
    display: flex;
    justify-content: space-between;
}