%transition {
    transition: all 0.6s ease-out
}
%font-primary {
    font-family: 'Open Sans', sans-serif;
}
%font-additional {
    font-family: 'Poppins', sans-serif;
}
%btn-style {
    padding: 11px 25px;
    text-align: center;
    color: $color-btn;
    border: 1px solid $color-border;
    background-color: rgba(152, 148, 148, 0.123);
    border-radius: 4px;
    &:hover {
        color: #fff;
        border: 1px solid $color-primary-active;
    }
}
%btn-active-style {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: #fff;
}
%card-style {
    color: $color-light;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.119)0px 4px 20px;
}
%box-shadow {
    box-shadow:rgba(0, 0, 0, 0.119)0px 4px 20px;
}
%filter-shadow {
    filter: drop-shadow(0px 4px 10px rgba(29, 27, 27, 0.2));
}
