.about-us {
    
}
.about-us__wrapper {
    padding: 96px 0px
}
.about-us__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #2F281E;
}
.about-us__text {
    margin-top: 14px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #544837;
}
.about-us__card-box {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.about-us__card-item {

}
.card-shadowed {
    display: flex;
    justify-content: space-between;
}
.emploee-info {

}
.employee__name {
}
.employee__position {
}
.employee__mail {
}
.emploee__avatar {
}