.start-business {
    //background-color: $color-light;
}
.start-business__wrapper {
    display: flex;
    justify-content:space-between;
    //padding: 80px 0;

}
.start-business__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    align-items: flex-end;

}
.start-business__title {
    
    text-align: left;
    margin-bottom: 30px;
    @extend %font-additional;
    @include font(2.4rem, 1.6, 600);
}
.start-business__text {

    text-align: left;
    color: $color-text;
    @extend %font-additional;
    @include font(1.8rem, 1.5);

}
.start-business__btn {
    align-items: flex-end;
}
.start-business__img {
    padding: 60px 0;
    width: 45%;
    height: auto;
}
