.contacts {
    background-color: $color-bg;
}
.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 62px 0 82px;
}
.contacts__info {
    width: 50%;
}
.layout-2-column {
}
.contacts__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #2F281E;
}
.contacts__text {
    margin: 14px 0 33px;
    max-width: 528px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #544837;
}
.contacts__phon {

}
.icon {
}
.icon-phone {
}
.phone-link {
}
.icon-email {
}
.email-link {
}
.contact__form-box {
}
.contacts__form {
}
.input-name {
}
.input-email {
}
.contact__form-btn {
}
.send-btn {
}
.colored-btn {
}