.contacts {
    background-color: rgba(152, 148, 148, 0.221);
}
.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 62px 0 82px;
}
.contacts__info {
    width: 50%;
}
.layout-2-column {
    
}
.contacts__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: #2F281E;
}
.contacts__text {
    margin: 14px 0 20px;
    max-width: 528px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #544837;
}

.phone-link, .email-link {
    font-size: 26px;
    padding-top: 10px;
}
.icon-email {
    background-image: url(../../assets/icons/ico-mail.svg);
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}
.email-link {
    
}

    
.contact__form-box {
    >* {
        
    }
}
.contacts__form {
    .input-name,
    .input-email,
    .contacts__textarea {
        border: none;
        background-color: #fff;
        padding: 10px 21px;
        border-radius: 8px;
        &:focus {
            border: 1px solid $color-primary;
            outline: none;
        }
    }
}
.input-name {
    margin-right: 10px;
}
.contacts__textarea {
    resize: none;
    width: 100%;
    margin-top: 30px;
    height: 160px;
}

.contact__form-btn {
    margin-top: 30px;
    >* {
        min-width: 117px;
    }
}
.send-btn {
}
.colored-btn {
}