.footer {

}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px;
}
.footer__menu {
    display: flex;
    justify-content: start;
    gap: 140px;
    width: 70%;
}
.footer__menu-item {
    width: max-content;
}
.footer__menu-title {
    margin-bottom: 10px;
    color: $color-heading;
    @include font($size: 2rem, $weigth: 600);
}
.footer__menu-list {
}
.footer__menu-list__item {
}
.footer__menu-link {
    @include font();
    @extend %font-additional;
    color: $color-text;
}