.footer {

}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 40px;
}
.footer__menu {
    display: flex;
    justify-content: start;
    gap: 140px;
    width: 70%;
}
.footer__menu-item {
    width: max-content;
}
.footer__menu-title {
    margin-bottom: 10px;
    color: $color-heading;
    @include font($size: 2rem, $weigth: 600);
}
.footer__menu-list {
}
.footer__menu-list__item {
}
.footer__menu-link {
    @include font();
    @extend %font-additional;
    color: $color-text;
}
.logo-box { //не работает так
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.footer__logo {
    display: block;

}
.social-ico-box {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;

}
.social-icon {
    width: 30px;
    height: 30px;
}