.price {

}
.price__wrapper {
    background-image: url(../../assets/bg/bg-price.svg);
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 80px 0;
}
.price__title {
    margin-bottom: 10px;
}
.price__text {
    text-align: center;
    margin-bottom: 50px;
}

.price-card {
    border: 1px solid $color-border;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
    &--active,
    &__title--active {
        color: $color-light;
        background-color: $color-primary-active;
    }
}
.price-card__title {
    @include font(2.4rem, 4, 700);
    @extend %font-additional;
}
.price-card__text {
    @include font(1.6rem, 2);
    @extend %font-additional;   
    margin-bottom: 16px; 

}
.tariff-box {
    display: block;
    height: 100px;
    color: inherit;
    &--active {
        color: $color-light;
    }
}
.tariff-list__item {
    letter-spacing: 0.2px;
    @include font(1.6rem, 2.2, 500);
    @extend %font-additional;
}

.order-btn {
    background-color: $color-primary-active;
    color: $color-light;
    border-color: $color-primary-active;
    margin: 38px auto;
    &:hover {
        background-color: $color-primary;
        color: $color-light;
        border-color: $color-primary;
        }
    &--active {
        color: $color-primary-active;
        background-color: $color-light;
        border-color: $color-light;
    }
}
.tariff-box {
    display: flex;
    justify-content: center;
    color: $color-text;
}
.tarif-box__num {
    color: $color-primary;
    @include font(7.6rem, 1.2, bold);
    @extend %font-additional;
}
.tarif-box__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    color: inherit;
    &--active {
        color: $color-light;
    }
}
.dollar {
    @include font(3.4rem, 1.2, bold);
    @extend %font-additional;
}

