.strategies {
    //background-color: $color-bg;
}
.strategies__wrapper {
    padding: 60px 0;
}
.strategies__box {
    >* {
        margin-bottom: 30px;
    }
}
.strategies__description {
    color: $color-text;
    margin-top: 30px;
    @include font($height: 1.6);
}
.strategies__tag-box {
    display: flex;
    justify-content: start;
    margin-top: 29px;
}
.strategies__box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.strategies__card {
    flex-direction: column;
    @extend %card-style;
    //background-color: $color-light;
    //max-width: 377px;
    padding-bottom: 10px;
    //border-radius: 10px;
    overflow: hidden; // добавить ховер эффект какой-нибудь
    cursor: pointer;
    //filter: drop-shadow(0px 4px 4px rgba(158, 156, 156, 0.2));
}
.strategies__card-content {
    flex-direction: column;
    justify-content:space-between;
    padding: 25px 34px;
}
.strategies__card-img {
    height: 200px;

}
.strategies__card-title {
    margin-bottom: 26px;
}
.strategies__cards__tag-box {
    margin-bottom: 0;
}
.cards__tag-item {
    margin-top: 20px;
    color: $color-text;
}