.tools {
    //background-color: $color-bg;

}
.tools__wrapper {
    background-image: url(../../assets/bg/bg-tools.svg);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 60px 0 90px;


}
.tools__title {
    max-width: 462px;
    margin: 0 auto;
    text-align: center;
}
.tools__cards-box {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.tools__item {
    padding: 15px;
    @extend %card-style;
}
.card__icon {
    width: 50px;
    height: 50px;
}
.card__title {
    margin: 16px 0 20px;
}
.card__text {
    color: $color-text;
    @include font($height: 1.6);
}
.tools__btn {
    display: block;
    margin: 46px auto 0;
}
.read-more {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 20px;
        width: 22px;
        height: 15px;
        background-image: url(../../assets/icons/arrow-readmore.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }
}
.read-more__link {
    padding: 14px 30px 10px;

}
