html {
    font-size: 10px;
}
body {
    @extend %font-primary;
    @include font(1.6rem, 2.6rem, 400);
}
h1 {
    @extend %font-additional;
    @include font(4.4rem, 1.2, bold);
    color: $color-heading;
}
h2 {
    @include font(3.4rem, 46px, bold);
    text-align: center;
    color: $color-heading;
}
h3 {
    @include font(2.4rem, 1.4, bold);
    color: $color-heading;
}
h4 {
    @include font(2.2rem, 30px, 600);
    color: $color-heading;
}
h5 {
    @include font(1.6rem, 26px, bold);
    color: $color-heading;
}
a {
    display: inline-block;
    text-decoration: none;
    color: $color-heading;
}
a:hover {
    color: $color-primary-active;
    @extend %transition;
}
