.button {
    @include font(1.6rem, 2.2rem, 600);
    @extend %font-primary;
    @extend %btn-style;
    &--active {
        @extend %btn-active-style;
    }
    &:hover {
        background-color: $color-primary-active;
        @extend %transition;
    }
}
.sign__btn + .sign__btn {
    margin-left: 14px;
}
.hero__btn-link {
    @extend %font-additional;
    @include font(1.6rem, 2.6rem, 600);
    color: $color-primary;
    display: inline-flex; // вертикальное позиционирование
    align-items: center;
}
