.icon {
    display: inline-block;
    cursor: pointer;
}
.icon-play {
    background-image: url(../../assets/icons/icon-play.svg);
    margin-right: 1rem;
    width: 18px;
    height: 19px;
}
.icon-phone {
    background-image: url(../../assets/icons/ico-phone.svg);
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}
.icon-emaile {
    background-image: url(../../assets/icons/ico-mail.svg);
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}
