.tag-box {
    display: flex;
    >* {
        margin-right: 7px;
    }
}
.tag {
    padding: 0 14px;
    border-radius: 90px;
    @include font(1.3rem, 2.8rem, normal);
    &--selected {
        background-color: $color-primary;
    }
    &--bordered {
        border: 1px solid $color-border;
    }
    &--colored {
        background-color: $color-tag-bg;
        color: $color-text;
    }
}